<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<string>GBP</string>
		<string>£</string>
	</array>
	<key>1</key>
	<array>
		<string>USD</string>
		<string>$</string>
	</array>
	<key>2</key>
	<array>
		<string>EUR</string>
		<string>€</string>
	</array>
	<key>3</key>
	<array>
		<string>ARS</string>
		<string>$</string>
	</array>
	<key>4</key>
	<array>
		<string>AUD</string>
		<string>$</string>
	</array>
	<key>5</key>
	<array>
		<string>BRL</string>
		<string>$</string>
	</array>
	<key>6</key>
	<array>
		<string>CAD</string>
		<string>$</string>
	</array>
	<key>7</key>
	<array>
		<string>CYP</string>
		<string>£</string>
	</array>
	<key>8</key>
	<array>
		<string>DKK</string>
		<string>kr.</string>
	</array>
	<key>9</key>
	<array>
		<string>HKD</string>
		<string>$</string>
	</array>
	<key>10</key>
	<array>
		<string>INR</string>
		<string>Rs.</string>
	</array>
	<key>11</key>
	<array>
		<string>IDR</string>
		<string>Rp.</string>
	</array>
	<key>12</key>
	<array>
		<string>IRR</string>
		<string>Rls</string>
	</array>
	<key>13</key>
	<array>
		<string>ILS</string>
		<string>ILS</string>
	</array>
	<key>14</key>
	<array>
		<string>JPY</string>
		<string>¥</string>
	</array>
	<key>15</key>
	<array>
		<string>MYR</string>
		<string>RM</string>
	</array>
	<key>16</key>
	<array>
		<string>MTL</string>
		<string>MTL</string>
	</array>
	<key>17</key>
	<array>
		<string>MXV</string>
		<string>$</string>
	</array>
	<key>18</key>
	<array>
		<string>NZD</string>
		<string>$</string>
	</array>
	<key>19</key>
	<array>
		<string>NOK</string>
		<string>kr</string>
	</array>
	<key>20</key>
	<array>
		<string>PHP</string>
		<string>PHP</string>
	</array>
	<key>21</key>
	<array>
		<string>RUR</string>
		<string>RUR</string>
	</array>
	<key>22</key>
	<array>
		<string>SAR</string>
		<string>SR</string>
	</array>
	<key>23</key>
	<array>
		<string>SGD</string>
		<string>$</string>
	</array>
	<key>24</key>
	<array>
		<string>ZAR</string>
		<string>R</string>
	</array>
	<key>25</key>
	<array>
		<string>KRW</string>
		<string>KRW</string>
	</array>
	<key>26</key>
	<array>
		<string>SEK</string>
		<string>K</string>
	</array>
	<key>27</key>
	<array>
		<string>CHF</string>
		<string>SFr</string>
	</array>
	<key>28</key>
	<array>
		<string>TWD</string>
		<string>$</string>
	</array>
	<key>29</key>
	<array>
		<string>THB</string>
		<string>THB</string>
	</array>
	<key>30</key>
	<array>
		<string>RMB</string>
		<string>RMB</string>
	</array>
	<key>31</key>
	<array>
		<string>PLN</string>
		<string>zł</string>
	</array>
	<key>32</key>
	<array>
		<string>CZK</string>
		<string>Kč</string>
	</array>
	<key>33</key>
	<array>
		<string>HUF</string>
		<string>Ft</string>
	</array>
</dict>
</plist>
