<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144525394888-e7jvnb0j84q30itkvqa1l203ulb1665g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144525394888-e7jvnb0j84q30itkvqa1l203ulb1665g</string>
	<key>API_KEY</key>
	<string>AIzaSyA77XsCyvAMHIsCZep5382melm6AfN7yI4</string>
	<key>GCM_SENDER_ID</key>
	<string>144525394888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puckator.Puckator</string>
	<key>PROJECT_ID</key>
	<string>puckator</string>
	<key>STORAGE_BUCKET</key>
	<string>puckator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144525394888:ios:640596ffd8268ab3deb6fd</string>
</dict>
</plist>