<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>English</string>
		<key>imageName</key>
		<string>PKFeedUK.png</string>
		<key>code</key>
		<string>en</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Italian</string>
		<key>imageName</key>
		<string>PKFeedIT.png</string>
		<key>code</key>
		<string>it</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Polish</string>
		<key>imageName</key>
		<string>PKFeedPL.png</string>
		<key>code</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Spanish</string>
		<key>imageName</key>
		<string>PKFeedES.png</string>
		<key>code</key>
		<string>es</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swedish</string>
		<key>imageName</key>
		<string>PKFeedSE.png</string>
		<key>code</key>
		<string>sv</string>
	</dict>
	<dict>
		<key>title</key>
		<string>French</string>
		<key>imageName</key>
		<string>PKFeedFR.png</string>
		<key>code</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Dutch</string>
		<key>imageName</key>
		<string>PKFeedNL.png</string>
		<key>code</key>
		<string>nl</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Czech</string>
		<key>imageName</key>
		<string>PKFeedCZ.png</string>
		<key>code</key>
		<string>cs-CZ</string>
	</dict>
	<dict>
		<key>title</key>
		<string>German</string>
		<key>imageName</key>
		<string>PKFeedDE.png</string>
		<key>code</key>
		<string>de</string>
	</dict>
</array>
</plist>
